.fondo{
    background: rgb(37,0,82);
    background: linear-gradient(90deg, rgba(37,0,82,1) 10%, rgba(124,0,255,1) 100%);
    color: white;
}
.span3 {  
    height: 1000px !important;
    overflow: scroll;
}