<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Funcionarios</title>
</head>
<body class="fondo">
  <div class="container">

    <div class="row">
      <div class="col-12" style="padding-bottom: 50px;">
        <h1 style="text-align: center;">Funcionarios Alcaldía de Pasto Septiembre 2020</h1>
      </div>
    </div>
    <div class="span3">
      <table class="table"  style="color:white;" >
        <thead >
          <tr >
            <th scope="col">Nombre</th>
            <th scope="col">Cargo</th>
            <th scope="col">Dependencia</th>
            <th scope="col">Subdependencia</th>
            <th scope="col">Oficina</th>
            <th scope="col">Tipo de vinculación</th>
          </tr>
        </thead>
        <tbody *ngFor="let funcionario of arreglo;">
          <tr >
            <td>{{funcionario.nombre}}</td>
            <td>{{funcionario.cargo}}</td>
            <td>{{funcionario.dependencia}}</td>
            <td>{{funcionario.subdependencia}}</td>
            <td>{{funcionario.oficina}}</td>
            <td>{{funcionario.tipo_vinculaci_n}}</td>

          </tr>
        </tbody>
      </table>

    </div>

  </div>
</body>
</html>
